.filter-dropdown-btn:focus,
.filter-dropdown-btn:active {
  background-color: #DBDBDB !important; /* Custom active background color */
  outline: none !important;             /* Remove default focus outline */
  box-shadow: none !important;          /* Remove Bootstrap's default box-shadow */
  border: none !important;      
}

.custom-label{
  width: 384px;
height: 17px;
gap: 0px;
opacity: 0px;
font-family: FiraGO;
font-size: 14px;
font-weight: 500;
line-height: 16.8px;
color: #021526;
}
.custom-field{
height: 42px;
width: 100%;/* padding: 10px 0px 0px 0px; */
gap: 0px;
border-radius: 6px ;
opacity: 0px;
border: 1px solid #808A93 !important;


}
.form-title{
  font-family: FiraGO;
font-size: 32px;
font-weight: 500;
line-height: 38.4px;
text-align: left;
color: #021526;

}
.section-title{
  font-family: Helvetica Neue;
font-size: 16px;
font-weight: 500;
line-height: 19.54px;
color: #1A1A1F;
}
.under-text{
  font-family: FiraGO;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
color: #021526;
}
.custom-file-upload {
  height: 120px;
  border-radius: 8px;
  border: 1px dashed #2D3648; /* Dashed border to increase space between dots */
  border-width: 1px; /* Border thickness */
  position: relative;
  border-style: dashed;

}

.custom-file-upload .icon {
  font-size: 40px;
  color: #2D3648;
}

input[type="file"] {
  opacity: 0; /* Hides the file input */
  cursor: pointer;
}

.error-text{
  font-family: FiraGO;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #F93B1D;

}

.a-style{
  text-decoration: none; /* Removes the underline */
    color: inherit;
}